
:root{
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #C1C6C8;
    --color-silver: #f3f3f3;
    --main-color: #003DA5;
    --second-color: #00A9E0;
    --three-color: #F6BE00;
    --four-color: #03307D;
    --five-color: #E6F7FC;
    --six-color: #f0f3fa;
    --seven-color: #3e71c8;
    --eight-color: #e5f6fc;
    --color-9: #fef9e5;
    --color-10: #effaea;
    --font: 'Century Gothic';
    --font-size-main: 16px;
    --tablet-breakpoint: 768px;
    --phone-breakpoint: 600px;
    font-family: var(--font), system-ui, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: var(--font-size-main);
  
    // color-scheme: light dark;
    color: var(--color-white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}