.login{
    min-height: calc(100vh - 65px);
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem 2rem;

    &__register{
        background-color: var(--five-color);

        @media only screen and (max-width: 600px) {
            padding: 2.5rem 0;
        }

        .register{
            max-width: 1080px;
            width: 100%;
            background-color: var(--color-white);
            border-radius: 20px;
            padding: 2.5rem 5rem;

            @media only screen and (max-width: 768px){
                padding: 2.5rem;
            }

            h1{
                margin-bottom: 1rem;
            }

            :where(p, h1) {
                text-align: left;
                color: var(--color-black);
            }
        }
    }

    h2{
        max-width: 680px;
        width: 100%;
        font-weight: 400;
    }

    :where(p, h2) {
        text-align: center;
        color: var(--color-white);
    }

    .forgot{
        font-weight: bold;
        color: var(--three-color);
    }


}